# Tell GitHub Linguist to ignore generated code
/generated/** linguist-vendored
/prisma/generated/** linguist-vendored

# Force classify config files as TypeScript if needed
*.config.js linguist-language=TypeScript

*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
# Force classify test files as TypeScript if needed
